type {{title .InterfaceName}} interface {
{{range .Functions}}{{template "function_header" .}}{{"\n"}}{{end}}
}
{{- define "function_header" -}}{{.ExportName}}(ctx context.Context, {{.JoinArgsBy ", "}}{{if .Args}}, header http.Header{{else}} header http.Header{{end}}) {{.Type}}{{end}}