type {{if $.Public}} {{camelCase (title .Struct.Name)}} {{else}} {{sentenceCase .Struct.Name}} {{end}} struct {
{{range .Struct.Fields}} {{if $.Public}} {{camelCase (.ExportName)}} {{else}} {{camelCase (sentenceCase (.Name))}} {{end}} {{if $.UsePointers}}{{camelCase .ExportType.PointerType.Type}}{{else}}{{camelCase .ExportType.Type}}{{end}} {{if $.Public}} `json:"{{.JsonName}}"` {{end}}{{"\n"}}{{end}}
}