type {{.GraphQLErrorStructName}} struct {
    Message    {{if $.UsePointers}}*string{{else}}string{{end}} `json:"message"`
    Locations  []{{.GraphQLErrorStructName}}Location `json:"locations"`
    Extensions {{if $.UsePointers}}*{{.GraphQLErrorStructName}}Extensions{{else}}{{.GraphQLErrorStructName}}Extensions{{end}} `json:"extensions"`
}

type {{.GraphQLErrorStructName}}Location struct {
    Line   {{if $.UsePointers}}*int{{else}}int{{end}} `json:"line"`
    Column {{if $.UsePointers}}*int{{else}}int{{end}} `json:"column"`
}

type {{.GraphQLErrorStructName}}Extensions struct {
    Code {{if $.UsePointers}}*string{{else}}string{{end}} `json:"code"`
}