func (c *{{sentenceCase .ClientName}}) {{.Func.ExportName}}({{.Func.JoinArgsBy ", "}}{{if .Func.Args}}, header *http.Header{{else}} header *http.Header{{end}}) (*http.Response, error) {
    params := make(map[string]interface{}, {{len .Func.Args}})
    {{range .Func.Args}}params["{{.Name}}"] = {{.Name}}{{"\n"}}{{end}}
    return c.ctrl.Execute({{sentenceCase .Func.Name}}, params, header)
}