type {{if $.Public}} {{camelCase (title .Struct.Name)}} {{else}} {{sentenceCase .Struct.Name}} {{end}} struct {
{{range .Struct.Fields}} {{if $.Public}} {{camelCase (.ExportName)}} {{else}} {{camelCase (sentenceCase (.Name))}} {{end}} {{if $.UsePointers}}{{camelCase .TitleType.PointerType.Type}}{{else}}{{camelCase .TitleType.Type}}{{end}} {{if $.Public}} `json:"{{sentenceCase .Name}}"` {{end}}{{"\n"}}{{end}}
}