type {{if $.Public}} {{title .Struct.Name}} {{else}} {{sentenceCase .Struct.Name}} {{end}} struct {
{{range .Struct.Fields}} {{if $.Public}} {{.ExportName}} {{else}} {{.Name}} {{end}} {{.Type}} {{if $.Public}} `json:"{{.Name}}"` {{end}}{{"\n"}}{{end}}
}