type {{if $.Public}} {{title .Struct.Name}} {{else}} {{sentenceCase .Struct.Name}} {{end}} struct {
{{range .Struct.Fields}} {{if $.Public}} {{.ExportName}} {{else}} {{.Name}} {{end}} {{if $.UsePointers}}{{.PointerType}}{{else}}{{.Type}}{{end}} {{if $.Public}} `json:"{{sentenceCase .Name}}"` {{end}}{{"\n"}}{{end}}
}